SigPort/obj/Debug/SigPort.dll
SigPort/obj/Debug/SigPort.csprojAssemblyReference.cache
SigPort/obj/Debug/SigPort.csproj.FileListAbsolute.txt
SigPort/obj/Debug/SigPort.csproj.CoreCompileInputs.cache
SigPort/obj/Debug/SigPort.pdb
SigPort/bin/SigPort.pdb
SigPort/bin/SigPort.dll
SigPort/Modelo/ConexaoBanco.cs
.vs/SigPort/v16/Server/sqlite3/storage.ide
.vs/SigPort/v16/Server/sqlite3/db.lock
.vs/SigPort/v16/.suo
.vs/SigPort/config/applicationhost.config
SigPort/obj/Debug/SigPort.csproj.CoreCompileInputs.cache
